<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.pkj.mapper.RegionEntityMapper">

    <resultMap id="BaseResultMap" type="com.it.pkj.domain.RegionEntity">
            <id property="regionEntityRegionId" column="region_entity_region_id" jdbcType="INTEGER"/>
            <result property="regionEntityRegionName" column="region_entity_region_name" jdbcType="VARCHAR"/>
            <result property="regionEntityRegionWeight" column="region_entity_region_weight" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        region_entity_region_id,region_entity_region_name,region_entity_region_weight
    </sql>
    <!-- 根据 ID 查找地区信息 -->
    <select id="selectById" resultType="com.it.pkj.domain.RegionEntity">
        select * from regionentity where region_entity_region_id = #{id}
    </select>

    <!-- 插入地区信息 -->
    <insert id="insert" parameterType="com.it.pkj.domain.RegionEntity">
        insert into regionentity (region_entity_region_name, region_entity_region_weight)
        values (#{regionEntityRegionName}, #{regionEntityRegionWeight})
    </insert>

    <!-- 更新地区信息 -->
    <update id="updateById" parameterType="com.it.pkj.domain.RegionEntity">
        update regionentity
        set region_entity_region_name = #{regionEntityRegionName},
            region_entity_region_weight = #{regionEntityRegionWeight}
        where region_entity_region_id = #{regionEntityRegionId}
    </update>

    <!-- 删除地区信息 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from regionentity where region_entity_region_id = #{id}
    </delete>

    <!-- 分页查询地区信息 -->
    <select id="selectPage" resultType="com.it.pkj.domain.RegionEntity">
        select * from regionentity
        <where>
            <if test="ew!= null">
                <if test="ew.sqlSegment!= null and ew.sqlSegment!= ''">
                    ${ew.sqlSegment}
                </if>
            </if>
        </where>
        <if test="ew!= null and ew.orderByField!= null and ew.orderByField!= ''">
            order by ${ew.orderByField} ${ew.isAsc? 'asc' : 'desc'}
        </if>
        limit #{offset}, #{limit}
    </select>
</mapper>
